.canvas-container {
  width: 100%; /* Make the canvas container take up the full width of its parent */
  height: 100vh; /* Make the canvas container take up the full height of the viewport */
  /* background-color: #000; Set the background color to black (adjust as needed) */
  background-color: #fff;
  position: relative; /* Ensure the canvas is positioned relative to its container */
  overflow: hidden; /* Hide any overflow content (e.g., if canvas is larger than container) */
}
