body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: #fff;
}

.canvas-container {
  width: 100%; /* Make the canvas container take up the full width of its parent */
  height: 100vh;
  /* background-color: #000; Set the background color to black (adjust as needed) */
  background-color: #fff;
  position: relative; /* Ensure the canvas is positioned relative to its container */
  overflow: hidden; /* Hide any overflow content (e.g., if canvas is larger than container) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
